{{ $section := .Get 0 }}
{{ $order := .Get 1 }}
{{ with site.GetPage $section }}
  <table>
    <thead>
      <tr>
        <th>Lab</th>
        <th>Questions</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
      {{ $pages := sort .Pages ".File.ContentBaseName" "asc" }}
      {{ if eq $order "reverse" }}
        {{ $pages = $pages.Reverse }}
      {{ end }}
      {{ range $pages }}
        {{ if not (strings.HasSuffix .File.ContentBaseName "-key") }}
          {{ $keyPage := site.GetPage (printf "/%s/%s-key" $section .File.ContentBaseName) }}
          <tr>
            <td>{{ .Title }}</td>
            <td><a href="{{ .Permalink }}">Lab</a></td>
            <td>
              {{ with $keyPage }}
                <a href="{{ .Permalink }}">Key</a>
              {{ else }}
                &mdash;
              {{ end }}
            </td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
{{ end }}
